server:
  port: 0

spring:
  application:
    name: movie-service
  cloud:
    config:
      uri: http://localhost:8888
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/recommend?useUnicode=true&characterEncoding=utf-8&useSSL=true
    username: root
    password: root
  zipkin:
    base-url: http://localhost:9411
    sender:
        type: web # 另外2个是 rabbit和kafka
#  sleuth:
#    sampler:
#      probability: 1.0
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
mybatis:
  type-aliases-package: com.aboo.movie.springcloud.domain
  configuration.map-underscore-to-camel-case: true

management:
  endpoints:
    web:
      exposure:
#        include: hystrix.stream
        include: '*'