server:
  port: 0

spring:
  application:
    name: user-service
  cloud:
    config:
      uri: http://localhost:8888
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/recommend?useUnicode=true&characterEncoding=utf-8&useSSL=true
    username: root
    password: root
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
mybatis:
  type-aliases-package: com.aboo.movie.springcloud.domain
  configuration.map-underscore-to-camel-case: true

management:
  endpoints:
    web:
      exposure:
#        include: hystrix.stream
        include: '*'